<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RealmDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RealmDocument.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>RealmDocumentFileProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>RealmPhoto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>RealmShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RealmSpotlight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>RealmToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>046DAF881D4C812C00718F2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B0CF7991D64384E00096CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B0CF7AE1D64446000096CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B877F111D178E7D000144B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC008111D645E2E004A6FA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BC008201D645E2E004A6FA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BEAD31A1D62F14700B8C3FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
